[ml2]
type_drivers = vxlan
tenant_network_types = vxlan
mechanism_drivers = openvswitch

[ml2_type_vxlan]
vni_ranges = 100:1000
vxlan_group = 224.0.0.1

[securitygroup]
enable_security_group = true
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver

[ovs]
enable_tunneling = true
local_ip = $local_ip
bridge_mappings = physnet1:br-ex

[agent]
tunnel_types = vxlan
