[DEFAULT]
use_syslog = true
syslog_log_facility = LOG_LOCAL2
debug = true
verbose = true
notification_driver = noop
log_dir = $log_dir

[database]
connection = mysql://glance:hpinvent@$vip/glance

[keystone_authtoken]
auth_uri = http://$vip:15000
auth_url = http://$vip:35358
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = glance
password = openstack

[paste_deploy]
flavor = keystone

[glance_store]
default_store = file
filesystem_store_datadir = $filesystem_store_datadir
